@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/RobotoSlab-Regular.ttf')
}

@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/RobotoSlab-Bold.ttf')
}

@font-face {
  font-family: "Roboto Slab";
  font-style: italic;
  font-weight: normal;
  src: url('../fonts/RobotoSlab-Thin.ttf')
}